@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

a.navbar-brand{
    font-weight: 900;
}
.bg-orange{
    background-color: orange;
}

img{
    width: 300px !important;
}

p{
    text-align: justify;
}
hr{
    padding-top: 20px;
    padding-bottom: 20px;
}

#grafico1{
    width: 400px;
    height: 400px;
}

.imagem-participante{
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
}

.imagem-participante>img{
    width: 200px !important;
}

.row{
    margin: 0 !important;
}